@use 'variables'as v;

// ----------------------------------
// baseスタイル
// ----------------------------------
body {
  font-family: v.$f-main;
  @include v.rem(16);
  font-weight: 400;
  color: v.$c-black;
  letter-spacing: 0;

  @include v.mq() {
    @include v.rem(15);
  }
}

a,
a i {
  color: v.$c-black;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: v.$c-main;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.en {
  font-family: v.$f-en;
}

section {
  padding-top: 60px;
  padding-inline: 20px;
  @include v.mq() {
    padding-top: 40px;
  }
}

.section-title {
  color: v.$c-main;
  @include v.rem(40);
  font-weight: bold;
  padding-bottom: 50px;

  @include v.mq() {
    @include v.rem(32);
    padding-bottom: 21px;
  }
}