// 変数定義

//-----------------------------------
//Font
//------------------------------------

// Font Family
$f-main: "Noto Sans JP", sans-serif;
$f-en: "Roboto", sans-serif;

// root Size
$fz-root: 16;

// Font Size rem変換
@mixin rem($size) {
  font-size: calc(($size / $fz-root) * 1rem);
}

//line-heightをpxから算出
@mixin lh($font-size, $height) {
  line-height: calc($height / $font-size);
}


//-----------------------------------
//Color
//-----------------------------------
$c-white: #fff;
$c-black: #333;
$c-lightgray:#e8e8e8;
$c-gray:#F2F2F2;

$c-main:#dd1b57;
$c-under: #ddd;

//-----------------------------------
//pass
//-----------------------------------
$pass: "../images/";


//-----------------------------------
//Break Point
//-----------------------------------
$breakpoints: (
  sp: 'screen and (max-width: 767px)',
  pc: 'screen and (min-width: 768px)',
);


// -----------------------------------
// media query
// -----------------------------------
@mixin mq($bp: sp) {
  @media #{map-get($breakpoints, $bp)} {
    @content;
  }
}


//-----------------------------------
//Base Width
//-----------------------------------
$base-width-sp: 375;
$base-width-pc: 1440;


//-----------------------------------
//Contents Width
//-----------------------------------
$width-main: 1110px;
$width-sp: 555px;

