@use '../variables'as v;

.information {
  padding-bottom: 100px;

  @include v.mq() {
    padding-bottom: 60px;
  }

  &-item {
    @include v.rem(15);
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    border-collapse: collapse;

    @include v.mq() {
      @include v.rem(14);

    }

    th,
    td {
      border-bottom: v.$c-under 1px solid;
      padding-block: 30px;
    }

    th {
      width: 30%;
      vertical-align: top;
    }
  }

  iframe {
    width: 100%;
    height: 437px;
    margin-bottom: 80px;

    @include v.mq() {
      height: 329px;
      margin-bottom: 50px;
    }
  }
}